{% extends 'base.html' %}

{% block content %}
    
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, facilis officia, porro deleniti asperiores eaque ut ab, animi veniam atque omnis autem ex officiis saepe. Ea, magni? Quisquam, eligendi beatae?</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>    
</main>

{% endblock %}